
<!DOCTYPE html>
<html>
<head>
	<title>Vuejs 101</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div id='app-vue'>
		<small>this is a unordered list on an array of strings</small>
		<ul>
			<li v-for='team in teams'>
				{{ team }}
			</li>
		</ul>
		
		<small>this is a unordered list on an array of objects</small>
		<ul>
			<li v-for='character in characters'>
				{{ character.name }} ( {{character.power}} )
			</li>
		</ul>
		<small>this is a unordered list on an array of objects that retrieve the index</small>
		<ul>
			<li v-for='(character, index) in characters'>
				{{index}}) {{ character.name }} ( {{character.power}} )
			</li>
		</ul>

		<small>this is a v-for using the template tag</small>
		<br>
		<template v-for='character in characters'>
			<p><b>{{ character.name }}</b>: {{ character.power}}</p> 
		</template>

		<small>this is a v-for that retrieve key and value of the objects using the template tag</small>
		<br>
		<template v-for='character in characters'>
			<p v-for='(value, key) in character'>
				{{ key }} is <b>{{value}}</b>
			</p>
		</template>
	</div>




	<script src="app.js"></script>
</body>
</html>