#canvas{
	width: 300px;
	height: 150px;
	padding-top: 150px;
	text-align: center;
	background-color: #800;
}
div{
	margin-bottom:5rem; 
}

.available{
	padding: 1rem;
	background-color:#4b4; 
}
.available.nearby{
	padding: 1rem;
	background-color:#4f4; 
}